@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-color: #fad702;
  --prime-color: #ffbc06;
  --secondary-color: #ff4081;
  --background-color: #595855;
  --background-warning-color: #ffd1d1;
  --text-color: #404145;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-size: 1920px 1080px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.special-font {
  font-family: 'DomaineDisplay', 'Helvetica Neue' !important;
  font-style: normal;
  color: var(--primary-color);
}

.login-body {
  background-image: url('./assets/background.jpg');
  background-size: 1920px 1080px;
}

.max-width-container {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 24px 24px 48px;
  width: 100%;
}

@media only screen and (min-width: 600px) {
  .max-width-container {
    margin: 0;
    padding: 32px 32px 64px;
  }
}

@media only screen and (min-width: 1160px) {
  .max-width-container {
    margin: 0 auto;
    max-width: 1400px;
  }
}

@media only screen and (min-width: 1760px) {
  .max-width-container {
    padding-left: 0;
    padding-right: 0;
  }
}

.blur-border {
  position: relative;
}

.blur-border::before {
  content: '';
  position: absolute;
  top: 10px;
  left: -1px;
  right: -30px;
  bottom: -5px;
  background: rgb(187 187 187 / 50%);
  filter: blur(10px);
  z-index: -1;
  border-radius: 10px;
}

/* SIDEBAR */
.sidebar {
  /* display: flex; */
  /* flex-direction: row; */
  position: sticky;
  top: 0;
  left: 0;
  bottom: 0;
  height: 96vh;
  width: 250px;
  padding: 0 1.7rem;
  overflow: hidden;
  color: aliceblue;
  background-color: #2f4050;
}

.sidebar-list {
  height: auto;
  position: relative;
  padding: 0;
  width: 100%;
}

.sidebar-list .row {
  border-radius: 8px;
  list-style-type: none;
  margin: 8px 0;
  display: flex;
  flex-direction: row;
  color: white;
  padding: 1rem;
}

.sidebar-list .row:hover {
  cursor: pointer;
  background-color: #293846;
}

.sidebar-list .row a {
  text-decoration: none;
  color: inherit;
  justify-self: center;
}

.sidebar-list #active {
  background-color: #293846;
}

.container {
  width: 60%;
  height: 700px;
  margin: 0 auto;
  margin-top: rem;
  border: 1px solid #0f172a;
  padding: 24px;
}

.container {
  /* display: flex; */
  /* justify-content: space-evenly; */
  flex-wrap: wrap;
}

.form-group {
  flex-wrap: wrap;
}

/* SETTING CONTENT */

.setting-content {
  position: relative;
  width: 100%;
  padding: 1rem;
}

/* SECTION */

/* section {
  padding-top: 4vh;
  height: 96vh;
  margin: 0 10rem;
  box-sizing: border-box;
  min-height: fit-content;
}

.section-container {
  display: flex;
} */

/* PROFILE SECTION  */
/* #profile {
  display: flex;
  justify-content: center;
  gap: 5rem;
  height: 80vh;
}

.section__pic-container {
  display: flex;
  height: 400px;
  width: 400px;
  margin: auto 0;
}

.section__text {
  align-self: center;
  text-align: center;
}

.section__text p {
  font-weight: 600;
}

.section__text__p1 {
  text-align: center;
}

.section__text__p2 {
  font-size: 1.75rem;
  margin-bottom: 1rem;
}

.title {
  font-size: 3rem;
  text-align: center;
}

#socials-container {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
  gap: 1rem;
}

.avatar {
  border-radius: 2rem;
} */

/* ICONS */

.icon {
  cursor: pointer;
  height: 2rem;
}

/* ABOUT SECTION */

#about {
  position: relative;
}

.about-containers {
  gap: 2rem;
  margin-bottom: 2rem;
  margin-top: 2rem;
}

.about-details-container {
  justify-content: center;
  flex-direction: column;
}

.about-containers,
.about-details-container {
  display: flex;
}

.about-pic {
  border-radius: 2rem;
}

.details-container {
  padding: 1.5rem;
  flex: 1;
  background: white;
  border-radius: 2rem;
  border: rgb(53, 53, 53) 0.1rem solid;
  text-align: center;
}

.section-container {
  gap: 4rem;
}

.section__pic-container {
  height: 400px;
  width: 400px;
  margin: auto 0;
}

.slider {
  margin: 0 20px;
  overflow: 'hidden';
  padding: 2rem 0;
}

@keyframes flyInFromLeft {
  from {
    transform: translateX(-100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes flyInFromRight {
  from {
    transform: translateX(100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

.fly-in-left {
  animation: flyInFromLeft 1.5s forwards;
}

.fly-in-right {
  animation: flyInFromRight 1.5s forwards;
}
